<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Categorias
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Categorias
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Nova Categoria
    </a>
  </div>
</div>

<table class="table table-rover">
  <thead>
    <tr class="bg-primary text-light text-center">
      <th>Id</th>
      <th>Categoria</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <th>
        1
      </th>
      <th>
        Comidas
      </th>
      <th>
        <a [routerLink]="[1, 'edit']" class="text-secondary text-center"><i class="fas fa-edit"></i></a>
      </th>
      <th>
        <a (click)="alert('excluir')" class="text-danger text-center"><i class="fas fa-trash-alt"></i></a>
      </th>
    </tr>
  </tbody>
</table>