<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Produtos
        </li>
    </ol>
</nav>

<div class="container mb-4" align="center">
    <form [formGroup]="searchForm" (submit)="submitForm()" class="col-6">
        <div class="row form-group">
            <div class="form-group col-md-9" style="text-align: left">
                <input type="text" class="form-control" name="palavraChave" id="palavraChave" placeholder="Pesquise uma categoria" formControlName="keyword">
            </div>
            <div class="form-group col-md-3" style="text-align: right">
                <button type="submit" class="btn btn-primary form-control md-2">Buscar</button>
            </div>
        </div>
    </form>
</div>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Produtos
        </h1>
    </div>
    <div class="col-md">
        <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
    + Novo Produto
  </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-danger text-light text-center">
            <th>Nome</th>
            <th>Preco compra</th>
            <th>Preco venda</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos" class="text-center">
            <th>
                {{produto.nome}}
            </th>
            <th>
                {{produto.precoCompra}}
            </th>
            <th>
                {{produto.precoVenda}}
            </th>
            <th>
                {{produto.quantidade}}
            </th>
            <th>
                {{produto.categoria.nome}}
            </th>
            <th>
                <a [routerLink]="[produto.id, 'edit']" class="text-primary text-center"><i class="fas fa-edit"></i></a>
                <a (click)="deleteCategoria(produto)" class="text-danger text-center"><i class="fas fa-trash-alt"></i></a>
            </th>
        </tr>
    </tbody>
</table>