<nav class="navbar  navbar-expand-lg navbar-light bg-light mb-4">

  <div class="container">

    <a class="navbar-brand text-danger" routerLink="/"><i class="fas fa-burn"></i>&nbsp;Hot-Stock</a>

    <div class="collapse navbar-collapse" id="navbarSite">

      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/categorias">Categoria</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/produtos">Produto</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Rafael Amorim</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-cog"></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Favoritos</a>
            <a class="dropdown-item" href="#">Plano mensal</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Configurações</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>